body{
    margin-left: 50px;
}
h1{
    width: 704px;
    height: 86px;
    padding-left: 608px;
    padding-top: 48px;
    text-align: center;
    font-size: 72px;
    line-height: 86.4px;
    font-weight: 700;
}
.center{
    padding-left: 294px;
    width: 1220px;
    height: 64px;
    font-size: 24px;
    line-height: 32px;
    color: #FF8000;
    text-align: center;
    font-weight: 700;
}
.section1{
    width: 696px;
    height: 662px;
    margin-bottom: 50px;
}
.section1h2{
    color: #D9AE00;
    width: 681px;
    height: 48px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.section1p{
    color: #6D81B4;
    width: 681px;
    height: 145px;
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 400;
}
.img-one{
    width: 696px;
    height: 415px;
}
.section2{
    width: 1007px;
    height: 717px;
    border: solid;
    background-color: #FFCEBE;
}
.img-two{
    width: 879px;
    height: 415px;
    padding-left: 70px;
}
.section2h2{
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #F44E50;
}
.section2p{
    color: #8B2B2C;
    width: 681px;
    height: 72px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-left: 150px;
}
.img-thre{
    padding-top: 30px;
    width: 696px;
    height: 415px;
}
.section3{
    width: 696px;
    height: 1041px;
}
.section3h2{
    color: #4716E4;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: right;
}
.container-pink{
    background-color: #FFC1E3;
    width: 696px;
    height: 222px;
    border: solid;
    border-color: #FF5DA3;

}
.pink-p{
    width: 648px;
    height: 174px;
    font-size: 24px;
    line-height: 28.8px;
    text-align: right;
    font-weight: 400;
    color:#616161;
    padding-left: 30px;
}
.theoryp{
    padding-top: 20px;
    color: #414651;
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
}

ul {
    list-style: none;
    padding-left: 20px;
}

ul li {
    position: relative;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 24px;
    font-size: 16px;
    color: #C27512;
}

ul li::before {
    content: '';
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 90px;
    position: absolute;
    left: -25px; 
    top: 20px; 
}