body{
    margin-left: 74px;
}
h1{
    color: #000;
    padding-top: 48px;
    text-align: center;
    font-style: normal;
    font-size: 72px;
    line-height: 86.4px;
    font-weight: 700;
}
.center{
    max-width: 1220px;
    font-size: 24px;
    line-height: 32px;
    color: #FF8000;
    text-align: center;
    font-weight: 700;
}
.section1{
    max-width: 696px;
    max-height: 662px;
    margin-bottom: 50px;
    padding-bottom: 40px;
}
.section1h2{
    color: #D9AE00;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.section1p{
    color: #6D81B4;
    max-width: 681px;
    max-height: 145px;
    font-size: 24px;
    line-height: normal;
    font-weight: 400;
}
.img-one{
    max-width: 696px;
    max-height: 415px;
}
.section2{
    padding: 64px;
    max-width: 1007px;
    border: solid;
    background-color: #FFCEBE;
    text-align: center;
}
.img-two{
    width: 879px;
    height: 415px;
}
.section2h2{
    font-weight: 900;
    font-size: 40px;
    line-height: normal;
    color: #F44E50;
}
.section2p{
    color: #8B2B2C;
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
}
.img-thre{
    padding-top: 30px;
    width: 696px;
    height: 415px;
    padding-bottom: 80px;
}
.section3{
    margin-top: 101px;
    max-width: 696px;
    max-height: 1041px;
}
.section3h2{
    color: #4716E4;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: right;
}
.container-pink{
    text-align: center;
    padding: 24px;
    background-color: #FFC1E3;
    max-width: 696px;
    max-height: 222px;
    border: solid;
    border-color: #FF5DA3;

}
.pink-p{
    font-size: 24px;
    line-height: normal;
    text-align: right;
    font-weight: 400;
    color:#616161;
}
.theoryp{
    margin-top: 30px;
    margin-bottom: 16px;
    color: #414651;
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
}

ul {
    list-style: none;
    padding-left: 20px;
}

ul li {
    padding-left: 20px;
    position: relative;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 24px;
    font-size: 16px;
    color: #C27512;
}

ul li::before {
    content: '';
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 90px;
    position: absolute;
    left: -15px; 
    top: 20px; 
}